.from-form-input {
  display: table-cell;
  padding: 10px;
}

.from-form {
  position: relative;
  overflow: auto;
  display: table-cell;
  margin: 10px
}

.from-form[title="get"] {
  border: 2px solid blue;

}

.from-form[title="set"] {
  border: 2px solid orangered;

}

.from-form[title="get"] .from-form-title {
  background: blue;

}

.from-form[title="set"] .from-form-title {
  background: orangered;

}

.from-form-title {
  color: white;
  text-align: center;

  padding: 8px;
}

.from-form-expland {
  background: #34242454;
  color: white;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.from-form-expland-title {
  margin-right: 10px
}
