.modal-wrap {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}

.modal-popup {
  z-index: 9999;
  width: 200px;
  height: 200px;
  max-width: 500px;
  max-height: 500px;
  background: white;
  display: table;
  padding: 20px;
  text-align: center;
}

.modal-icon {
  display: inline-table;
  color: white;
  border-radius: 50%;
  padding: 30px;
  font-size: 25px;
  margin-bottom: 20px;
}

.success {
  background: #82ce34;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.danger {
  background: red;
}

.modal-text {
  word-break: break-word;
  text-align: left;
  color: black;
}